.nutrition-chart-card {
  display: flex;
  flex-direction: column;
}

.chart-container {
  height: 350px;
  width: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .chart-container {
    height: 300px;
  }
}

